nav{
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
}

nav > div:hover{
  background-color: grey;
}

@media all and (max-width: 640px) {
  nav {
    flex-direction: column;
      }
}

picture {
  display: block;
  max-width: 100%;
}
